/*
 *= require kolor-picker/color-sampler
 */
.kolor-picker-input {
  width: 35px;
  height: 30px;
  border: 1px solid black;
  text-indent: -999px;
  cursor: default;
}

.kolor-picker-input:focus {
  outline-offset: 0;
  outline: 0;
}

.kolor-picker-wrapper {
  display: inline-flex;
  background-image: url('data:image/gif;base64,R0lGODlhDAAMAIABAMzMzP///yH5BAEAAAEALAAAAAAMAAwAAAIWhB+ph5ps3IMyQFBvzVRq3zmfGC5QAQA7');    
}
